<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container *ngFor="let col of displayedColumns; let colIndex=index">
        <ng-container matColumnDef="{{col}}">
            <mat-header-cell *matHeaderCellDef>{{col}}</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element[disCol]}}
            </mat-cell>
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>
</table>