<mat-card class="profile">
  <div class="user">
    <img height="80px" width="80px" src="assets/images/profile.png" />
    <div class="detail">
      <h1>Hi there!</h1>
      <h3>To verify a certificate, please enter the STUDENT ID</h3>
    </div>
  </div>
</mat-card>

<mat-card>
  <mat-card-content class="login">
    <form [formGroup]="form" (ngSubmit)="verify()">
      <mat-form-field appearance="fill">
        <mat-label>Certificate ID</mat-label>
        <input matInput formControlName="certificateId" />
      </mat-form-field>

      <button mat-raised-button color="primary">Verify</button>
    </form>
  </mat-card-content>

  <br />

  <ng-container *ngIf="studentCertificateUrl">
    <mat-divider></mat-divider>
    <div class="message">
      {{ userDetail.first_name + " " + userDetail.family_name }} has graduated
      from Royal Melbourne Institute of Technology.
    </div>
    <iframe [src]="studentCertificateUrl | safe : 'resourceUrl'"></iframe>

    <!-- <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label> Certificate </ng-template>
       
      </mat-tab>
    </mat-tab-group> -->
  </ng-container>
</mat-card>
