<div class="interface-picker">
  <a (click)="redirectToLogin()">
    <mat-card>
      <img
        mat-card-image
        src="assets/images/students.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>Alumni Portal</p>
      </mat-card-content>
    </mat-card>
  </a>

  <a (click)="redirectToVerification()">
    <mat-card>
      <img
        mat-card-image
        src="assets/images/books.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>Certificate Verification</p>
      </mat-card-content>
    </mat-card>
  </a>
</div>

<div class="project-members">
  <div class="content">
    <div>
      <h1>IT Infrastructure and Security (COSC2737)</h1>
      <h2>Industrial Focused Project by</h2>
    </div>
    <div class="members">
      <div class="profile">
        <img
          mat-card-image
          src="assets/images/blank_face.jpg"
          alt="Photo of a Shiba Inu"
        />

        <div class="description">
          <span class="name">Jun Yan</span>
          <span>S3965310</span>
        </div>
      </div>
      <div class="profile">
        <img
          mat-card-image
          src="assets/images/blank_face.jpg"
          alt="Photo of a Shiba Inu"
        />

        <div class="description">
          <span class="name">Quang Huy Dinh</span>
          <span>S3961517</span>
        </div>
      </div>
      <div class="profile">
        <img
          mat-card-image
          src="assets/images/blank_face.jpg"
          alt="Photo of a Shiba Inu"
        />

        <div class="description">
          <span class="name">Jejomar Batitis</span>
          <span>S3856624</span>
        </div>
      </div>

    </div>
  </div>
</div>