<div>
  <a (click)="redirectToLogin()">
    <mat-card>
      <img
        mat-card-image
        src="assets/images/students.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>Alumni Portal</p>
      </mat-card-content>
    </mat-card>
  </a>

  <a (click)="redirectToVerification()">
    <mat-card>
      <img
        mat-card-image
        src="assets/images/books.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>Certificate Verification</p>
      </mat-card-content>
    </mat-card>
  </a>
</div>
