.custom-header {
  font-size: 12px;
  color: black;
  background: yellow;
}

.custom-open-tasks {
  font-size: 12px;
  color: black;
  background: yellow;
}


.background-red {
  background: red;
}

.border-1px {
  border: 1px solid black;
}

