@import "~/src/assets/styles/custom";

:host {
  display: flex;
  height: 100vh;

  mat-card {
    margin: auto;
    min-width: 450px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}
