@import "~/src/assets/styles/custom";

:host {
  mat-card {
    max-width: 450px;
  }

  form {
    display: flex;
    flex-direction: column;

    section {
      display: flex;
      flex-direction: row;

      & > div {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .recaptcha {
    margin: auto;
    padding: 20px;  
  }
}
