@import "~/src/assets/styles/custom";

:host {
  .user {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .detail {
    text-transform: uppercase;
  }

  mat-card {
    width: 1000px;
  }
}
