@import "~/src/assets/styles/custom";

:host {
  .container {
    padding: 20px;
  }
  .user {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .detail {
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  mat-card {
    margin: 20px auto;
    max-width: 1000px;
  }
}
